# =========================
# Gradle
# =========================
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# =========================
# IntelliJ
# =========================
.idea/
*.iml
out/

# =========================
# Mac
# =========================
.DS_Store

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# OS Files
# =========================
Thumbs.db

# =========================
# Environment
# =========================
.env
.env.*

# =========================
# Test
# =========================
test-output/

# =========================
# Docker
# =========================
docker-data/

# =========================
# Node (future frontend)
# =========================
node_modules/